@media (orientation: landscape) {
    .AdminDashboard {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        left: 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
        z-index: 1;
        overflow-y: auto;
    }

    .EstimateContainer {
        position: relative;
        width: 100%;
        height: 80%;
        left : 0;
        bottom : 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        color: white;
        z-index: 5;
        overflow-y: auto;
        padding-top: 10vw;
        padding-bottom: 100px;
    }

    .Estimate {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 95vw;
        aspect-ratio: 20/1;
        padding: 1vw 1vw 1vw 1vw;
        background-color: black;
        border-radius: 25px;
        margin-top: 1vw;
        margin-bottom: 1vw;
        border-color: white;
        border-width: 2px;
        border-style: solid;
        color : white
    }

    .Estimate p {
        text-align: center;
        font-weight: 700;
        font-family: 'Montserrat';
    }

    .Estimate:hover {
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }
    
    .AdminNav {
        position: fixed;
        width : 100vw;
        height: 12lvh;
        top : 0;
        left: 0;
        background-color: black;
        z-index: 5;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .NavDrawerButton {
        position: absolute;
        height: 40%;
        width: 3%;
        left : 2%;
        top : 50%;
        transform: translate(-2%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 20;
    }

    .NavDrawerButton span {
        border-radius: 35px;
        width: 100%;
        height: 10%;
        transition: background-color 0.6s ease;
    }

    .NavDrawer {
        position: fixed;
        left: 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        z-index: 17;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .NavDrawerBackground {
        position: absolute;
        left : 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: 16;
    }

    .NavDrawerContainer {
        position: absolute;
        left : 0;
        top : 0;
        width: 30vw;
        height: 100vh;
        background-color: white;
        z-index: 17;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .FilterOptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 90%;
        height: 70%;
    }

    .FilterOptions button {
        transition: background-color 0.6s ease;
        border-radius: 25px;
        color: white;
        font-family: 'Montserrat';
    }
}

@media (orientation: portrait) {
    .AdminDashboard {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        left: 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        background-color: white;
    }

    .EstimateContainer {
        position: relative;
        width: 100%;
        height: 90%;
        left : 0;
        bottom : 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        color: white;
        overflow-y: auto;

        padding-bottom: 100px;
        padding-top: 150px;

    }

    .Estimate {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: 80%;
        height: fit-content;
        padding: 1vw 1vw 1vw 1vw;
        background-color: black;
        border-radius: 25px;
        margin-top: 10vw;
        margin-bottom: 10vw;
        border-color: white;
        border-width: 2px;
        border-style: solid;
        color : white
    }

    .Estimate p {
        text-align: center;
        font-weight: 700;
        font-family: 'Montserrat';
    }

    .Estimate:hover {
        border-color: white;
        border-width: 2px;
        border-style: solid;
    }

    .AdminNav {
        position: fixed;
        width : 100vw;
        height: 12lvh;
        top : 0;
        left: 0;
        background-color: black;
        z-index: 5;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    @media (min-width : 600px) {
        .AdminNav {
            height: 7lvh;
        }

        .EstimateContainer {
            padding-top: 50px;
        }
    }

    .NavDrawerButton {
        position: absolute;
        height: 40%;
        width: 10%;
        left : 2%;
        top : 50%;
        transform: translate(-2%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        z-index: 20;
    }

    .NavDrawerButton span {
        border-radius: 35px;
        width: 100%;
        height: 10%;
        transition: background-color 0.6s ease;
    }

    .NavDrawer {
        position: fixed;
        left: 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        z-index: 17;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .NavDrawerBackground {
        position: absolute;
        left : 0;
        top : 0;
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 0, 0, 0.5);
        z-index: 16;
    }

    .NavDrawerContainer {
        position: absolute;
        left : 0;
        top : 0;
        width: 70vw;
        height: 100vh;
        background-color: white;
        z-index: 17;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .FilterOptions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        width: 90%;
        height: 70%;
    }

    .FilterOptions button {
        transition: background-color 0.6s ease;
        border-radius: 25px;
        color: white;
        font-family: 'Montserrat';
    }
}