@media (orientation: portrait) { 
.IngestionPage {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    left: 0;
    top : 0;
    width: var(--app-width);
    height: var(--app-height);
    background-color: transparent;
}

.NavButton {
        position: relative;
        background-color: white;
        color : black;
        width: calc(var(--app-width) * .22);
        font-size: 3vw;
        border-radius: 25px;
        font-family: 'Montserrat';
        box-shadow: 0 0 5px 5px rgb(139, 139, 139);
        transition: box-shadow 0.6s ease;
    }

    .NavButton:hover {
        border-style: none;
        box-shadow: 0 0 5px 5px navy;
    }

    .NavBar {
        position: fixed;
        top : 0;
        left : 0;
        width: 100%;
        height: calc(var(--app-height) * .10);
        background-color: black;
        overflow-x: hidden;
        z-index: 20;
    }

    .NavContainer {
        position: absolute;
        height: 100%;
        width : 90%;
        top : 0;
        left : 50%;
        transform: translateX(-50%);

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .Continue {
        font-family: 'Montserrat';
    }

    .Back {
        font-family: 'Montserrat';
    }


@media (min-width : 600px) {
    .NavButton {
        border-radius : 35px;
        aspect-ratio : 16/1
    }

    .Continue {
        border-radius : 35px
    }

    .Back {
        border-radius : 35px
    }
}

.ProgressBar {
    position: absolute;
    top : 99%;
    left : 50%;
    width : 90%;
    aspect-ratio: 60/1;
    border-radius: 35px;
    transform: translate(-50%, -99%);
    background-color: rgb(64, 64, 64);
}

@media (max-width : 600px) {
    .ProgressBar {
        top : 92%;
        transform : translate(-50%, -92%)
    }
}

.Progress {
    position: absolute;
    top : 0;
    left : 0;
    height: 100%;
    border-radius: 35px;
    background: linear-gradient(to right, white, rgb(109, 202, 238));
    /*background-color: rgb(0, 183, 255);*/
    box-shadow: 0 0 10px 10px rgb(109, 202, 238);
    transition: width 0.6s ease;
}

.Logo {
    position: absolute;
    transform: translateX(-50%);
    left : 50%;
    top: 0;
    height : 90%;
    pointer-events: none;
}

.Logo img {
    object-fit: contain;
    height: 100%;
    width: auto;
}

.SystemBackground {
        position: fixed;
        left : 0;
        top : 0;
        z-index: -2;
        width : calc(var(--app-width) * 1);
        height: var(--app-height);
    }

    .SystemBackgroundImage {
        position: absolute;
        left : 50%;
        top : 50%;
        transform: translate(-50%, -50%);
        width : fit-content;
        height : var(--app-height);
        z-index: -2;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .SystemBackground img {
        position : relative;
        object-fit: contain;
        width : auto;
        height : 100%
    }

    .SystemBackgroundOverlay {
        position: absolute;
        left : 0;
        top : 0;
        z-index: -1;
        width : 100%;
        height : 100%;
        background-color: black;
        opacity: 0.5;
    }

/* 
    ##############################
    ##############################
    Customer Information
    ##############################
    ##############################
*/

.CustomerInformation, 
.VehicleInformation, 
.InsuranceInformation, 
.ConfirmationPage, 
.PhotoUploadPage, 
.DamageDescriptionPage,
.SelectAppointmentDate {
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    bottom : 0;
}

.CustomerInformation {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: hidden;
    bottom : 0;
}

.CustomerInformation h1, 
.VehicleInformation h1, 
.InsuranceInformation h1, 
.ConfirmationPage h1, 
.DamageDescriptionContainer h1,
.PhotoUploadContainer h1,
.SelectAppointmentDateContainer h1 {
    font-family: 'Montserrat';
    color: white;
    font-size: 5vw;
    text-align: center;
}

.CustomerInformation h2, 
.VehicleInformation h2, 
.VehicleMake h2, 
.VehicleModel h2, 
.InsuranceProvider h2, 
.ConfirmationPage h2 {
    font-family: 'Montserrat';
    color: white;
    font-size: 4vw;
    text-align: center;
}

.NameFields, .ContactFields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 40%;
}

.NameField, .ContactField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 30%;
    height : fit-content;
    margin-bottom: calc(var(--app-width) * .1);;
}

.ContactField p {
    font-size : 3vw;
    color: white;
    font-family : 'Montserrat'
}

.NameField input, .ContactField input {
    width : 100%;
    aspect-ratio: 12/1;
    color: white;
    background-color: rgb(64, 64, 64);
    border-color: rgb(139, 139, 139);
    border-style: solid;
    font-size: 4vw;
    box-shadow: 0 0 5px 5px rgb(139, 139, 139);
    border-style: solid;
    transition: color 0.6s ease, background-color 0.6s ease, box-shadow 0.6s ease;
    z-index : 1;
}

    .NameField input:focus, .ContactField input:focus {
        box-shadow: 0 0 5px 5px rgb(34, 34, 34);
        border-radius: 0;
        background-color: black;
    }

.NameField label, .ContactField label{
    width: 100%;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 4vw;
    color: white;
    z-index : 2
}

@media (min-width : 600px) { 
    .NameField label, .ContactField label{
        font-family: 'Montserrat';
        font-size: 3vw;
    }

    .NameField input, .ContactField input {
        font-size: 3vw;
    }
}

.CustomerInformation button {
    margin-bottom: 2vw;
    background: linear-gradient(to bottom, red 0%, darkred 100%);
    color: black;
    width: calc(var(--app-width) * .07);
    font-size: 1.2vw;
}

/* 
    ##############################
    ##############################
    Vehicle Information
    ##############################
    ##############################
*/

    .InputGrid {
        position: absolute;
        width: 90%;
        height: 60%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .PropertyInput {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        z-index: 1;
        width: 100%;
    }

    .PropertyInput select {
        width: 90%;
        aspect-ratio: 14/2;
        border-color: rgb(139, 139, 139);
        border-radius: 0;
        font-size: 4vw;
        color: white;
        background-color: rgb(64, 64, 64);
        box-shadow: 0 0 5px 5px rgb(139, 139, 139);
        transition: color 0.6s ease, background-color 0.6s ease, box-shadow 0.6s ease;
        z-index: 1;
        border-style: solid;
        aspect-ratio: 12/1;
    }

    .PropertyInput select:focus {
        box-shadow: 0 0 5px 5px rgb(34, 34, 34);
        border-radius: 0;
        background-color: black;
    }

    .PropertyInput input:focus {
        box-shadow: 0 0 5px 5px rgb(34, 34, 34);
        border-radius: 0;
        background-color: black;
    }

    .PropertyInput label {
        color: white;
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 4vw;
        width: 90%;
        z-index : 2;
        text-wrap: nowrap;
    }

    .PropertyInput input {
        width: 90%;
        aspect-ratio: 12/1;
        padding: 0 0 0 0;
        border-color: rgb(139, 139, 139);
        border-radius: 0;
        font-size: 4vw;
        color: white;
        background-color: rgb(64, 64, 64);
        border-style: solid;
        box-shadow: 0 0 5px 5px rgb(139, 139, 139);
        transition: color 0.6s ease, background-color 0.6s ease, box-shadow 0.6s ease;
    }

    @media (min-width : 600px) {
        .PropertyInput {
            font-size: 3vw;
        }

        .PropertyInput label {
            font-size: 3vw;
        }

        .PropertyInput input {
            font-size: 3vw;
        }
    }

.VehicleMake, .VehicleModel, .InsuranceProvider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
}

.VehicleMake h2, .VehicleModel h2 {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.SwitchButtons {
    height: 4%;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.SwitchButton {
    height: 100%;
    width: calc(var(--app-width) * .30);;
    font-size: 3vw;
    color: black;
    background: linear-gradient(to bottom, red 0%, darkred 100%);
}

@media (min-width : 500px) { 
    .SwitchButton {
        font-size : 2vw;
    }
}

.ManualEntry {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5%;
}

.ManualEntry input {
    width: 80%;
    height: 90%;
    font-size: 3vw;
    color: black;
    background-color: rgb(64, 64, 64);
    border-color: rgb(255, 255, 255);
    border-style: solid;
}

.ManualEntry button {
    width: 15%;
    height: 100%;
    font-size: 1vw;
    color: black;
    background: linear-gradient(to bottom, red 0%, darkred 100%);
}

.MakeGridContainer, .InsuranceGridContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 60%;
    overflow-y: scroll;
    scrollbar-color: gray;
    scrollbar-track-color: transparent;
    padding-left: calc(var(--app-width) * .05);;
    padding-right: calc(var(--app-width) * .05);
    margin-bottom: calc(var(--app-width) * .03);
}


.MakeGridContainer::-webkit-scrollbar {
  width: 10px;
}

.MakeGridContainer::-webkit-scrollbar-track {
  background: transparent;
}

.MakeGridContainer::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;
}


.MakeGrid, .InsuranceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    row-gap: calc(var(--app-width) * .05);
    column-gap: calc(var(--app-width) * .05);
    margin-bottom: calc(var(--app-width) * .02);
}

.MakeButton {
    width: calc(var(--app-width) * .20);
    height: calc(var(--app-width) * .20);
    background: linear-gradient(to bottom, rgb(64, 64, 64), rgb(76, 76, 76) 100%);
    margin: 0 0 0 0;
    padding: calc(var(--app-width) * .02) calc(var(--app-width) * .02) calc(var(--app-width) * .02) calc(var(--app-width) * .02);
    border-radius: 25px;
    border-color: transparent;
    overflow-x: hidden;
    overflow-y: hidden;
}

.MakeButton div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.MakeButton div img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.VehicleModel {
    width: 70%;
}

.VehicleInformationFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 90%;
}

.VehicleInformationField {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 12%;
    width: 100%;
    margin-top: calc(var(--app-width) * .05);
    margin-bottom: calc(var(--app-width) * .05)
}

.VehicleInformationField input {
    height: 100%;
    width: 100%;
}

.VehicleInformationField label {
    font-family: 'Montserrat';
    font-size: 4vw;
    width: 100%;
}

@media (min-width : 500px) { 
    .VehicleInformationField label {
        font-family: 'Montserrat';
        font-size: 2vw;
    }

    .VehicleInformationField input {
        font-size: 2vw;
    }
}

/* 
    ##############################
    ##############################
    Damage Description
    ##############################
    ##############################
*/

.DamageDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}


.DamageDescriptionContainer textarea{
    width: 70%;
    height: 70%;
    resize: none;
    background-color: rgb(64, 64, 64);
    border-color: rgb(139, 139, 139);
    color : white;
    resize: none;
    font-family: 'Montserrat';
    font-size: 3vw;
    box-shadow: 0 0 10px 10px rgb(139, 139, 139);
}
/* 
    ##############################
    ##############################
    Photo Upload 
    ##############################
    ##############################
*/

.PhotoUploadContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top : 0;
    left: 50%;
    transform: translateX(-50%);
    height: 90%;
    width: 100%;
}

.UploadButton {
    width: 40%;
    height: 15%;
    background-color: rgb(64, 64, 64);
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px rgb(139, 139, 139);
}

.UploadButton img {
    height: 90%;
    object-fit: contain;
}

.UploadedPhotosContainer {
    display: flex;
    margin-top: calc(var(--app-width) * .02);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: 70%;
    overflow-y: scroll;
}

.UploadedPhotosGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 100%;
    row-gap: 16px;
    column-gap: 16px;
}

.UploadedPhotosContainer::-webkit-scrollbar {
  width: 10px;
}

.UploadedPhotosContainer::-webkit-scrollbar-track {
  background: transparent;
}

.UploadedPhotosContainer::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 8px;
}

.UploadedPhoto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(var(--app-width) * .35);
    height: calc(var(--app-width) * .35);
}

.UploadedPhoto img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* 
    ##############################
    ##############################
    Insurance Information
    ##############################
    ##############################
*/

.InsuranceInformation {
    justify-content: flex-start;
}


.InsuranceFields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40%;
}

.InsuranceInquiry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    color : white;
    font-size : 3vw
}

.InquiryButton {
    background-color: black;
    color: white;
    width: calc(var(--app-width) * .20);
    border-radius: 25px;
    font-size: 3vw;
    margin-left: calc(var(--app-width) * .02);
    margin-right: calc(var(--app-width) * .02);
}

.InsuranceField input {
    height: 30%;
    width: 100%;
    font-size: 3vw;
}

.InsuranceField label {
    font-family: 'Montserrat';
    font-size: 3vw;
    width: 80%;
    text-align: center;
}

@media (min-width : 500px) { 
    .InsuranceField label {
        font-family: 'Montserrat';
        font-size: 2vw;
    }

    .InsuranceField input {
        font-size: 2vw;
    }
}

.InsuranceField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}

.InsuranceProvider {
    width : 80%
}

.InsuranceGrid {
    grid-template-columns: 1fr 1fr 1fr;
}

.InsuranceGridContainer {
    height: 70%;
    overflow-y: hidden;
}

.SubmitInsurance {
    background: linear-gradient(to bottom, red 0%, darkred 100%);
    color: black;
    width: calc(var(--app-width) * .07);
    font-size: 1.2vw;
    margin-top: calc(var(--app-width) * .02);
    margin-bottom: calc(var(--app-width) * .02);
}

/* 
    ##############################
    ##############################
    Appointment Date Selector
    ##############################
    ##############################
*/

.SelectAppointmentDateContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 100%;
}

/* 
    ##############################
    ##############################
    Review And Confirm
    ##############################
    ##############################
*/

    .Review {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        width: 90%;
        height: 50%;
        margin-bottom: calc(var(--app-height) * .10);
        overflow-y: auto;

        background-color: rgb(64, 64, 64);
        padding: 10px 10px 10px 10px;
        border-color: white;
        border-width: 2px;
        border-style: solid;
        border-radius: 35px;
        box-shadow: 0 0 5px 5px rgb(139, 139, 139);

        overflow: auto auto;
        scrollbar-color: white transparent;
        scrollbar-width: thin;
    }

    @media (min-width : 600px) {
        .Review {
            height : 50%;
            margin-bottom : calc(var(--app-height) * .10);
        }
    }

    .ReviewItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(var(--app-width) * .25);
        height: fit-content;
        font-size: 3vw;
        text-align: center;
        color: white;
    }

    .Validator {
        color: red;
        height: calc(var(--app-width) * .1);
        margin: 0 0 0 0;
        text-wrap: nowrap;
    }

    .ConfirmButton {
        background-color: black;
        color: white;
        width: calc(var(--app-width) * .2);
        border-radius: 35px;
        height: calc(var(--app-width) * .08);
        font-size: calc(var(--app-width) * .03);
        margin-top: calc(var(--app-width) * .005);
        margin-bottom: calc(var(--app-width) * .005);
    }

    .LoadingPage {
        width: calc(var(--app-width) * 1);
        height: calc(var(--app-height) * 1);;
        background-color: white;
    }

    .LoadingImage {
        position: absolute;
        width: 20%;
        aspect-ratio: 1/1;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    .LoadingImage img {
        object-fit: contain;
        height: 100%;
        width: 100%;
        animation: spin 2s linear infinite;
    }

    .ServiceSelection {
        position: absolute;
        left : 0;
        top : 0;
        width: calc(var(--app-width) * 1);
        height: calc(var(--app-height) * 1); 
        background-color: white;
    }

    .ServiceSelection h1 {
        position: absolute;
        left: 50%;
        top: 5%;
        width : 100%;
        color: black;
        transform: translate(-50%, -5%);
        font-family: 'Montserrat';
        text-wrap: nowrap;
        text-align: center;
        font-size: 6vw;
    }

    .ServiceSelector {
        position: absolute;
        width: 80%;
        height: 50%;
        left : 50%;
        top : 50%;
        transform: translate(-50%, -50%);

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .ServiceSelector button {
        font-size: 8vw;
        font-family: 'Montserrat';
        font-weight: bold;
        color: black;
        transition: color ease 0.6s, transform ease 0.6s;
        background-color: transparent;
        border-width: 0;
    }


    .ServiceSelector button:hover {
        color: rgb(0, 102, 255);
        transform: scale(1.2);
    }
}
 /* Scroll container with bottom fade */
.fade-scroll {
  position: relative;
  overflow-y: auto;

  /* how much space you want for the fade */
  --fade-height: 48px;

  /* Fade only at the bottom */
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) calc(100% - var(--fade-height)),
    rgba(0,0,0,0) 100%
  );
  mask-image: linear-gradient(
    to bottom,
    rgba(0,0,0,1) 0%,
    rgba(0,0,0,1) calc(100% - var(--fade-height)),
    rgba(0,0,0,0) 100%
  );
}
